<div class="container">
  <div class="main-headline">
    <h1>
      Unlock Seamless <span class="text-grediant">Video Conferencing</span> with
      Yoom
    </h1>
    <p>
        Affordable, flexible, and easy-to-integrate video conferencing solutions
        for your business.
    </p>
    <div class="call-to-action">
        <app-button buttonText="Get Started" textColor="#fff" backgroundColor="#000" />
        <app-button buttonText="Learn More" backgroundColor="#DAE2F6"/>
    </div>
  </div>
  <div class="hero-img">
    <img
      src="../../../../assets/img/hero-img.png"
      alt="An image of the Yoom application interface"
    />
  </div>
</div>
