<div class="container">
    <div class="card">
        <img src="../../../../assets/img/instructions-1.svg" alt="">
        <h2>1- Sign up</h2>
        <p>Choose a subscription plan that fits your needs.</p>
    </div>
    <div class="card">
        <img src="../../../../assets/img/instructions-2.svg" alt="">
        <h2>2- Integrate</h2>
        <p>Easily integrate Yoom with your existing software using our tools and services.</p>
    </div>
    <div class="card">
        <img src="../../../../assets/img/instructions-3.svg" alt="">
        <h2>3- Collaporate</h2>
        <p>Start hosting and participating in seamless video meetings and webinars.</p>
    </div>
</div>