$colorPrimary: hsl(213, 96%, 54%);
$colorSecondary: hsl(351, 44%, 60%);
$colorLight: hsl(210, 8%, 60%);
$colorDark: hsl(218, 23%, 23%);
$colorGreen: hsl(156, 86%, 41%);
$colorOrange: hsl(35, 100%, 50%);
$colorWhite: hsl(0, 0%, 100%);
$colorblack: hsl(0, 0%, 0%);
$colorGrey: hsl(0, 0%, 47%);
$colorGreyShade: hsl(0, 1%, 91%);
$colorGrayAlt: hsl(220, 14%, 96%);
$colorPrimaryShade: hsl(200,38% ,97%)