@use "../../../../scss/abstracts/" as *;

:host {
  @include cardHost();
}

.wrapper-card {
  @include wrapperCard();
  form {
    & > * {
      width: 100%;
    }
    @include flex($direction: column, $alignment: start);
    row-gap: 1rem;
    width: 52rem;
  }
}
