<div class="wrapper-card">
  <h1>Reset Password</h1>
  <p>Choose preferred reset method</p>
  <app-toggler
    optionA="Email"
    optionB="Phone"
    (switchAction)="toggleMethod()"
  />
  <form [formGroup]="resetPassForm" (ngSubmit)="passResetFormSubmit()">
    @if (!methodToggle) {
    <app-email-input formControlName="email" />
    } @else {
    <app-phone-input formControlName="phone" />
    }
    <app-button
      buttonText="Send"
      textColor="white"
      backgroundColor="#197EFA"
      type="submit"
      routerLink="/confirm-code"
    />
  </form>
</div>
