@use "../../../../scss/abstracts/" as *;

.container{
    @include grid($columns: 1);
    justify-items: center;
    gap: 3rem;
    h1 {
        font-size: 3.6rem;
        font-weight: 600;
    }
}