<nav>
  <app-logo />
  <ul>
    <li><a>Home</a></li>
    <li><a>Features</a></li>
    <li><a>How it works</a></li>
    <li><a>Pricing</a></li>
    <li><a>Testmonials</a></li>
    <li><a>FAQ</a></li>
    <li><a>Contact us</a></li>
  </ul>
  <div class="btn-group">
    <app-button
      buttonText="Log In"
      backgroundColor="#DAE2F6"
      routerLink="/login"
    />
    <app-button
      buttonText="Sign Up"
      hamada="sign-up"
      backgroundColor="#000"
      textColor="#fff"
      routerLink="/register"
    />
  </div>
</nav>
